*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

img {
    width: 100px;
    height: 100px;
}

/* added this because the h2 margin messes with the header leaving unwanted space above" */
h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

header,
footer {
    background-color: #1F2937;
    color: #f9faf8;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
}

footer {
    margin-top: auto;
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Made the footer go to the bottom and added to make the main content fit in the same container as the  header  */

.btn {
    display: inline-block;
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    padding: .50em 2em;
    border-radius: 7px;
}

.btn:hover,
.btn:focus {
    opacity: .75;
}

.d-flex {
    display: flex;
}

.container {
    width: 80%;
    max-width: 860px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}



/*Reusable section above */

/*Nav bar section below */

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

/* Hero section below */

.hero {
    padding: 3.5em 0;
}

.hero h2 {
    font-size: 48px;
    font-weight: bolder;
}

.hero--text {
    width: 50%;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .75;
}

.img {
    width: 80%;
    max-width: 300px;
    height: 80%;
    max-height: 200px;
}

/* Information section below */

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 25px;
}

.card {
    max-width: 200px;
}

.card-img {
    height: 100%;
    max-height: 150px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.information-section {
    text-align: center;
    margin-bottom: 25px;
    padding: 4em;
}

/* Quote section below */

.quote {
    background-color: #e5e7eb;
    padding: 4em;
}

.col {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.main-quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.letter-spacing {
    letter-spacing: 3px;

}

.information-section .main-quote {
    text-align: left;
}